<header id="header">
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="intro-text">
                    <h1>Hello, I'm <span class="name">Abhishek SC</span></h1>
                    <p>Front End Developer & Back End Developer</p>
                    <a href="#about" class="btn btn-default btn-lg page-scroll">Learn More</a> </div>
            </div>
        </div>
    </div>
</header>
<!-- Navigation -->
<div id="nav">
    <nav class="navbar navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand page-scroll" href="#page-top">Abhishek SC</a> </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a class="page-scroll" href="#about">About</a> </li>
                    <li> <a class="page-scroll" href="#skills">Skills</a> </li>
                    <!-- <li> <a class="page-scroll" href="#portfolio">Portfolio</a> </li> -->
                    <li> <a class="page-scroll" href="#resume">Resume</a> </li>
                    <li> <a class="page-scroll" href="#contact">Contact</a> </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- About Section -->
<div id="about">
    <div class="container">
        <div class="section-title text-center center">
            <h2>About Me</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-12 text-center"><img src="./../assets/img/about.jpg" class="img-responsive"></div>
            <div class="col-md-8 col-md-offset-2">
                <div class="about-text">
                    <p>To work in a challenging environment demanding all my skills and efforts to explore and adapt myself in different fields, realize my potential and contribute to the development of organization with impressive performance.</p>
                    <p>Versatile Front-end Developer with 2+ years of experience designing, developing, and managing complex ECM sites and internal frameworks. Specializes in Angular4+ and responsive design.</p>
                    <p>Strong hold-on Back-end Developer with 0.6+ years of experience developing, and managing complex REST APIs sites and proficient in frameworks such as springboot,spring security and elasticsearch.</p>
                    <p class="text-center"><a class="btn btn-primary" href="./../assets/Resume/Abhishek_Resume.pdf"><i class="fa fa-download"></i> Download Resume</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Skills Section -->
<div id="skills" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Skills</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
                <h4>HTML5</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="77"> <span class="percent">77</span> </span>
                <h4>CSS3</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span>
                <h4>Java</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="72"> <span class="percent">72</span> </span>
                <h4>TypeScript</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="70"> <span class="percent">80</span> </span>
                <h4>SpringBoot</h4>
            </div>
            <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="80"> <span class="percent">80</span> </span>
                <h4>Angular 4+</h4>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Section -->
<!-- <div id="portfolio">
    <div class="container">
        <div class="section-title text-center center">
            <h2>Portfolio</h2>
            <hr>
        </div>
        <div class="categories">
            <ul class="cat">
                <li>
                    <ol class="type">
                        <li><a href="#" data-filter="*" class="active">All</a></li>
                        <li><a href="#" data-filter=".web">Web Design</a></li>
                        <li><a href="#" data-filter=".app">App Development</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                    </ol>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="portfolio-items">
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/01-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>Web Design</small> </div>
                                <img src="./../assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/02-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>App Development</small> </div>
                                <img src="./../assets/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/03-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>Web Design</small> </div>
                                <img src="./../assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/04-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>Web Design</small> </div>
                                <img src="./../assets/img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/05-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>App Development</small> </div>
                                <img src="./../assets/img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/06-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>Branding</small> </div>
                                <img src="./../assets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 branding app">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/07-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>App Development, Branding</small> </div>
                                <img src="./../assets/img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="./../assets/img/portfolio/08-large.jpg" title="Project description" rel="prettyPhoto">
                                <div class="hover-text">
                                    <h4>Project Title</h4>
                                    <small>Web Design</small> </div>
                                <img src="./../assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Achievements Section -->
<!-- <div id="achievements" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Some Stats</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="200ms">
                <div class="achievement-box"> <span class="count">310</span>
                    <h4>Happy Clients</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="400ms">
                <div class="achievement-box"> <span class="count">4700</span>
                    <h4>Hours of Work</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="600ms">
                <div class="achievement-box"> <span class="count">30</span>
                    <h4>Awards Won</h4>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 wow fadeInDown" data-wow-delay="800ms">
                <div class="achievement-box"> <span class="count">8</span>
                    <h4>Years of Experience</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Resume Section -->
<div id="resume" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Experience</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4>Oct 2018 <br> - <br> Present </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a href="http://www.hashecm.com/">
                                    <h4>HashECM Technologies Pvt Ltd</h4>
                                </a>
                                <h4 class="subheading">Front End Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <ol>
                                    <li>
                                        <p>Building Basic/complicated UI screen </p>

                                    </li>
                                    <li>
                                        <p> Building reusable components, services, and models</p>

                                    </li>
                                    <li>
                                        <p>Adding new features to the project on client requirement.</p>

                                    </li>

                                    <li>
                                        <p>Modifying the third party plugin, for the project specification.</p>

                                    </li>

                                    <li>
                                        <p>Developed WebSocket to communicate with the.net application for scanning documents from the scanner.</p>

                                    </li>
                                    <li>
                                        <p>Worked closely with the client business logic.</p>

                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Jan 2017 <br> - <br> july 2017 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <a href="http://squapl.com/"></a>
                                <h4>Squapl Magazine</h4>
                                <h4 class="subheading">Software Developer</h4>
                            </div>
                            <div class="timeline-body">
                                <ul>
                                    <li>
                                        <p> Building free RESTfull APIs, End-to-End service.</p>

                                    </li>
                                    <li>
                                        <p> URL mapping. ElasticSearch Integration in Spring Boot.</p>

                                    </li>
                                    <li>
                                        <p>Angular 4 integration with Spring Boot.</p>

                                    </li>

                                    <li>
                                        <p>Spring Framework and Spring Security(basics)</p>

                                    </li>

                                    <li>
                                        <p>MySQL CRUD operations.</p>

                                    </li>
                                    <li>
                                        <p>Worked on POS application using Angular 4 and Spring boot.</p>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>March 20016 <br> - <br> May 2016 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Tata Elxsi</h4>
                                <h4 class="subheading">Internship</h4>
                            </div>
                            <div class="timeline-body">
                                <p>Data acquisition using IOT. Where we had used Intel Edison and Arduino and 3 sensors, which include Gas Sensor, Temperature Sensor, Humidity Sensor. The main role was to store all those sensors data into a cloud-based server.
                                    We stored it on Intel dashboard. we used Arduino as branch and Edison as Node, Where Edison was loaded with YOCTO Linux and the wireless communication was from Arduino and Edison was established using Xbee communication
                                    model.At the end of all of this can be monitored using an android application which was built using Intel XDK.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section-title center">
            <h2>Education</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <!-- Education Section-->

                    <li>
                        <div class="timeline-image">
                            <h4>2019 <br> - <br> Present </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Leiden University</h4>
                                <h4 class="subheading">Masters degree in Advanced data analytics</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p>scored an overall 65.2% (first class) </p>
                            </div> -->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>2012 <br> - <br> 2016 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>School Of Engineering and Techonology</h4>
                                <h4 class="subheading">Degree in Electronics and communication</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p>scored an overall 65.2% (first class) </p>
                            </div> -->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>2010 <br> - <br> 2012 </h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>The Presidency PU Independent College</h4>
                                <h4 class="subheading">Pre University</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p>secured 76% in karnataka state board</p>
                            </div> -->
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <h4>2000 <br> - <br> 20010</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>The Presidency Public School</h4>
                                <h4 class="subheading">High School</h4>
                            </div>
                            <!-- <div class="timeline-body">
                                <p class="text-muted">70% in ICSE board</p>
                            </div> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<div id="contact" class="text-center">
    <div class="container">
        <div class="section-title center">
            <h2>Contact</h2>
            <hr>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="col-md-6"> <i class="fa fa-map-marker fa-2x"></i>
                <p>Leiden, Netherland </p>
            </div>
            <div class="col-md-6"> <i class="fa fa-envelope-o fa-2x"></i>
                <p>abhishekekaanth@gmail.com</p>
            </div>
            <!-- <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
                <p> +1 123 456 1234</p>
            </div> -->
            <div class="clearfix"></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <!-- <h3>Leave me a message</h3>
            <form name="sentMessage" id="contactForm" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="Name" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form-control" placeholder="Email" required="required">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div id="success"></div>
                <button type="submit" class="btn btn-default">Send Message</button>
            </form> -->
            <div class="social">
                <ul>
                    <li><a href="https://www.facebook.com/abhi.shek.3382"><i class="fa fa-facebook"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    <li><a href="https://stackoverflow.com/users/6821441/abhishek-ekaanth"><i class="fa fa-stack-overflow"></i></a></li>
                    <li><a href="https://github.com/Ekaanth"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://www.instagram.com/humblefool94/"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/abhishek-ekaanth-821244b7/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>